html {
    background-image: linear-gradient(#00001a, #66ccff, #330033);
    min-height: 100vh;
}

body {
	background-color: transparent;
	margin: 0;
}

/* Barre des contrôles */
.controls{
	height: 15vh;
	background-color: rgba(0, 0, 0, 0.3);
}

#track-add {
	background-color: rgba(0, 204, 0, 0.5);
	border: 1px solid #00001a;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	height: 50px;
	width: 50px;
}

#play {
	background-color: white;
	border: 1px solid #00001a;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	height: 50px;
	width: 50px;
}

/* Tracks-Container */
.track-bar{
	position: absolute;
	top: 15vh;
	left: 5%;
	height: 85vh;
	background-color: rgba(255, 0, 0, 0.6);
}

.track {
	width: 100vw;
	display: flex;
	opacity: 1;
}

.track .switch,
.track .pad,
.track .volume,
.track .pan,
.track .frequency {
	border: 1px solid #00001a;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	height: 50px;
	flex: 1;
}
.track .switch:hover,
.track .pad:hover {
	background-image:radial-gradient(darkorange, transparent);
}
.switch {
 background-image:radial-gradient(red, transparent);
}

.switch-on {
	background-image:radial-gradient(green, transparent);
}

.pad-on {
	background-image:radial-gradient(purple, transparent);
}

.track .volume,
.track .pan,
.track .frequency {
	background-image:radial-gradient(darkblue, transparent);
}

.track.track-disabled {
	opacity: 0.3;
}

